<footer class="footer">

  <div class="footer-container">

    <!-- LEFT -->
    <div class="footer-section">

      <h2>E-Shop</h2>

      <p>
        Shop electronics, fashion,
        accessories and more with
        secure and fast delivery.
      </p>

    </div>

    <!-- CENTER -->
    <div class="footer-section">

      <h3>Quick Links</h3>

      <a routerLink="/">Home</a>
      <a routerLink="/cart">Cart</a>
      <a routerLink="/order">Orders</a>

    </div>

    <!-- RIGHT -->
    <div class="footer-section">

      <h3>Contact</h3>

      <p>📧 support@eshop.com</p>
      <p>📞 +91 9876543210</p>
      <p>📍 Bangalore, India</p>

    </div>

  </div>

  <div class="footer-bottom">
    © 2026 E-Shop. All Rights Reserved.
  </div>

</footer>