.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #131921;
  padding: 12px 30px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

/* LEFT */
.logo {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  width: 45%;
  background: white;
  border-radius: 6px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-box button {
  background: #febd69;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 16px;
}

/* RIGHT LINKS */
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links a {
  color: #e2e8f0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.links a:hover {
  color: white;
}

/* CART BADGE */
.cart {
  display: flex;
  align-items: center;
  gap: 6px;
}

.badge {
  background: #facc15;
  color: black;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}