<nav class="navbar">

  <!-- LEFT -->
  <div class="left">
    <div class="logo">🛍 E-Shop</div>
  </div>

  <!-- CENTER SEARCH -->
  <div class="search-box">
    <input 
      type="text" 
      placeholder="Search products..." 
      (input)="onSearch($event.target.value)" 
    />
    <button>🔍</button>
  </div>

  <!-- RIGHT -->
  <div class="links">
    <a routerLink="/">Home</a>
    <a routerLink="/order">Orders</a>

    <!-- CART -->
    <a routerLink="/cart" class="cart">
      🛒 Cart
      <span class="badge">{{cartCount}}</span>
    </a>

    <!-- NOT LOGGED IN -->
    <a *ngIf="!isLoggedIn" routerLink="/login">
      Login / Register
    </a>

    <!-- LOGGED IN -->
    <div *ngIf="isLoggedIn" class="profile">
      👤 {{ userEmail }}

      <button class="logout-btn" (click)="logout()">
        Logout
      </button>
    </div>
  </div>

</nav>